<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
<!-- Document Meta
    ============================================= -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--IE Compatibility Meta-->
<meta name="author" content="zytheme" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
<meta name="description" content="construction html5 template">
<link href="images/favicon/favicon.ico" rel="icon">

<!-- Fonts
    ============================================= -->
<link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,500,500i,600,600i,700,700i%7CDroid+Serif:400,400i,700,700i%7CLora:400,400italic,700,700italic" rel="stylesheet" type="text/css">

<!-- RS5.0 Main Stylesheet -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'revolution/css/settings.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'revolution/css/layers.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'revolution/css/navigation.css') }}"> 
<!-- Stylesheets
    ============================================= -->
<link href="{{ url_for('static', filename = 'css/external.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename = 'css/style.css') }}" rel="stylesheet">

<!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
<!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->

<!-- Document Title
    ============================================= -->


<title>ABHAYA - Be Fearless!</title>
</head>
<body>
<div class="preloader">
	<div class="spinner">
	<div class="double-bounce1"></div>
	<div class="double-bounce2"></div>
	</div>
</div><!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="wrapper clearfix">
<header id="navbar-spy" class="header header-1">
    <nav id="primary-menu" class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid container-p0">
            <a class="navbar-brand" href="index.html">
                <img src="{{ url_for('static', filename = 'images/logo/Abhaya Logo.png') }}" alt="celia template">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav ml-auto">
                     	<!-- Home Menu -->
						<li class="has-dropdown mega-dropdown active">
							<a href="{{ url_for('home') }}"  class="dropdown-toggle menu-item">Home</a>
							<!-- .mega-dropdown-menu end -->
						</li>
						<li class="has-dropdown ">
							<a href="{{ url_for('howwecanhelp') }}"  class="dropdown-toggle menu-item">How we can help</a>
							<!-- .mega-dropdown-menu end -->
						</li>
						<li class="has-dropdown ">
							<a href="{{ url_for('watch') }}"  class="dropdown-toggle menu-item">Watch Stories</a>
							<!-- .mega-dropdown-menu end -->
						</li>
						<li class="has-dropdown ">
							<a href="{{ url_for('campaings') }}"  class="dropdown-toggle menu-item">Campaign</a>
							<!-- .mega-dropdown-menu end -->
						</li>
						<li class="has-dropdown ">
							<a href="{{ url_for('donation') }}"  class="dropdown-toggle menu-item">Donation</a>
							<!-- .mega-dropdown-menu end -->
						</li>
						<li class="has-dropdown ">
							<a href="{{ url_for('login') }}"  class="dropdown-toggle menu-item">Join us</a>
							<!-- .mega-dropdown-menu end -->
						</li>

	
	
 
                </ul>
                <div class="module-container">
                    <!-- Module Languages -->
<div class="module module-lang">
    <a href="#"></a>|<a href="#"></a>
</div>                    <!-- Module Social -->
<div class="module module-social">
    <a class="social-icon social-text-hover social-icon-twitter" href="#"><i class="fa fa-twitter"></i></a>
    <a class="social-icon social-text-hover social-icon-instagram" href="#"><i class="fa fa-instagram"></i></a>
</div>                </div>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
</header>
<!-- Hero Section
====================================== -->
<section id="slider" class="slider slider-3">
            <!-- START REVOLUTION SLIDER 5.0 -->
            <div class="rev_slider_wrapper">
                <div id="slider1" class="rev_slider" data-version="5.0">
                    <ul>
                        <!-- slide 1 -->
                        <li data-transition="zoomin" data-slotamount="default" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-thumb="assets/images/sliders/thumb/3.jpg">
                            <!-- MAIN IMAGE -->
                            <img src="{{ url_for('static', filename = 'images/sliders/slide-bg/Blue.png') }}" alt="Slide Background Image" width="1920" height="1280">
                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption" data-x="['left','left','left','left']" data-hoffset="['-50','20','20','0']" data-y="['middle','middle','middle','middle']" data-voffset="['20','20','20','20']" data-width="none" data-height="none" data-transform_idle="o:1;" data-transform_in="x:[-155%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power2.easeInOut;" data-transform_out="x:[-100%];s:3000;e:Power2.easeInOut;s:3000;e:Power2.easeInOut;" data-mask_in="x:50px;y:0px;s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1000" data-responsive_offset="on">
                                <div class="slide-container"></div>
                            </div>

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption" data-x="['left','left','left','left']" data-hoffset="['50','50','50','20']" data-y="['middle','middle','middle','middle']" data-voffset="['-65','-65','-65','-60']" data-fontsize="['65', '50', '40', '30']" data-width="none" data-height="none" data-transform_idle="o:1;" data-transform_in="x:[155%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power2.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:50px;y:0px;s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1250" data-responsive_offset="on">
                                <div class="slide--headline">Hey! Take a deep breath...<br>We are here for you!</div>
                            </div>

                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption" data-x="['left','left','left','left']" data-hoffset="['50','50','50','20']" data-y="['middle','middle','middle','middle']" data-voffset="['20','20','20','20']" data-fontsize="['17', '17', '15', '13']" data-width="none" data-height="none" data-transform_idle="o:1;" data-transform_in="x:[-155%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power2.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:50px;y:0px;s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1500" data-responsive_offset="on">
                                <div class="slide--bio"><br>It sounds like you are experiencing a lot of distressing feelings and thoughts <br> Do remember that it will pass! <br> Go ahead and use the chatbot!</div>
                            </div>

                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption" data-x="['left','left','left','left']" data-hoffset="['50','50','50','20']" data-y="['middle','middle','middle','middle']" data-voffset="['110','100','120','120']" data-width="none" data-height="none" data-transform_idle="o:1;" data-transform_in="x:[155%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power2.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:50px;y:0px;s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1750" data-responsive_offset="on">
                                <div class="slide-action">
                                    
                                </div>
                            </div>
                        </li>

                        <!-- slide 2 -->
                        <li data-transition="cube" data-slotamount="default" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-thumb="assets/images/sliders/thumb/5.html">
                            <!-- MAIN IMAGE -->
                            <img src="{{ url_for('static', filename = 'images/sliders/slide-bg/Blue.png') }}" alt="Slide Background Image" width="1920" height="1280">
                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption" data-x="['left','left','left','left']" data-hoffset="['-50','20','20','0']" data-y="['middle','middle','middle','middle']" data-voffset="['20','20','20','20']" data-width="none" data-height="none" data-transform_idle="o:1;" data-transform_in="x:[-155%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power2.easeInOut;" data-transform_out="x:[-100%];s:3000;e:Power2.easeInOut;s:3000;e:Power2.easeInOut;" data-mask_in="x:50px;y:0px;s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1000" data-responsive_offset="on">
                                <div class="slide-container"> </div>
                            </div>

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption" data-x="['left','left','left','left']" data-hoffset="['50','50','50','20']" data-y="['middle','middle','middle','middle']" data-voffset="['-65','-65','-65','-60']" data-fontsize="['65', '50', '40', '30']" data-width="none" data-height="none" data-transform_idle="o:1;" data-transform_in="x:[155%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power2.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:50px;y:0px;s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1250" data-responsive_offset="on">
                                <div class="slide--headline">Expand the Abhaya Fam <br>Come Join us!</div>
                            </div>

                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption" data-x="['left','left','left','left']" data-hoffset="['50','50','50','20']" data-y="['middle','middle','middle','middle']" data-voffset="['20','20','20','20']" data-fontsize="['17', '17', '15', '13']" data-width="none" data-height="none" data-transform_idle="o:1;" data-transform_in="x:[155%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power2.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:50px;y:0px;s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1500" data-responsive_offset="on">
                                <div class="slide--bio"><br>You can be anybody!<br>Share your story,help others or volunteer</div>
                            </div>

                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption" data-x="['left','left','left','left']" data-hoffset="['50','50','50','20']" data-y="['middle','middle','middle','middle']" data-voffset="['110','100','120','120']" data-width="none" data-height="none" data-transform_idle="o:1;" data-transform_in="x:[155%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power2.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:50px;y:0px;s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1750" data-responsive_offset="on">
                                <div class="slide-action">
                                    <a class="btn btn-secondary btn-hover btn-arrow" href="{{ url_for('login') }}"><i class="celia-arrow-long-right"></i></a>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
                <!-- END REVOLUTION SLIDER -->
            </div>
            <!-- END OF SLIDER WRAPPER -->
        </section>
<!-- #hero end -->
 
  <!-- Service #3
================================================= -->
<section id="service3" class="service service-3 bg-white">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="service-panel">
						<a href="#ManFigure" aria-controls="ManFigure" role="tab" data-toggle="tab" class="active">
							<div class="service-icon">
								<i class="icon icon-ManFigure"></i>
							</div>
							<div class="service-content">
								<h3>Lonliness</h3>
							</div>
						</a>
					</li>
					<li role="presentation" class="service-panel">
						<a href="#Pulse" aria-controls="Pulse" role="tab" data-toggle="tab">
							<div class="service-icon">
								<i class="icon icon-Pulse"></i>
							</div>
							<div class="service-content">
								<h3>Anxiety</h3>
							</div>
						</a>
					</li>
					<li role="presentation" class="service-panel">
						<a href="#Plaster" aria-controls="Plaster" role="tab" data-toggle="tab">
							<div class="service-icon">
								<i class="icon icon-Plaster"></i>
							</div>
							<div class="service-content">
								<h3>Depression</h3>
							</div>
						</a>
					</li>
					<li role="presentation" class="service-panel">
						<a href="#Eye" aria-controls="Eye" role="tab" data-toggle="tab">
							<div class="service-icon">
								<i class="icon icon-Eye"></i>
							</div>
							<div class="service-content">
								<h3>Insomnia</h3>
							</div>
						</a>
					</li>
					<li role="presentation" class="service-panel">
						<a href="#Dislike" aria-controls="Dislike" role="tab" data-toggle="tab">
							<div class="service-icon">
								<i class="icon icon-Dislike"></i>
							</div>
							<div class="service-content">
								<h3>Anger</h3>
							</div>
						</a>
					</li>
				</ul>
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane fade show  active" id="ManFigure">
						<div class="row">
							<div class="col-sm-12 col-md-12 col-lg-4">
								<div class="head">Loneliness causes people to feel empty,unwanted and alone.<br>Are you feeling difficult to make connection with people?<br>Chat with our chatbot to get help from us.</div>
							</div>
							<!-- .col-lg-4 end -->
							<div class="col-sm-12 col-md-12 col-lg-4">
								<p>Loneliness is a universal human emotion that is both complex and unique to each individual. Loneliness, according to many experts, is not necessarily about being alone. Instead, if you feel alone and isolated, then that is how loneliness plays into your state of mind. </p>
								<p>Suffering from loneliness is somewhat like suffering from physical pain. Loneliness can heighten the fight-or-flight response—the physiological reaction a person has when facing a threat. </p>
							</div>
							<!-- .col-lg-4 end -->
							<div class="col-sm-12 col-md-12 col-lg-4">
								<p>Loneliness can be a risk factor for heart disease, Type 2 diabetes, arthritis, among other critical diseases. </p>
								
								<p>Lonely people are also twice as likely to develop Alzheimer’s disease.Are you feeling difficult to make connection with people? Chat with our chatbot to get help from us.</p>
							</div>
							<!-- .col-lg-4 end -->
						</div>
						<!-- .row end -->
					</div>
					<div role="tabpanel" class="tab-pane fade" id="Pulse">
						<div class="row">
							<div class="col-sm-12 col-md-12 col-lg-4">
								<div class="head">Anxiety is a normal emotion. The American Psychological Association (APA) defines anxiety as “an emotion characterized by feelings of tension, worried thoughts and physical changes like increased blood pressure.” </div>
							</div>
							<!-- .col-lg-4 end -->
							<div class="col-sm-12 col-md-12 col-lg-4">
								<p>Anxiety disorders affect 40 million people in the United States. It is the most common group of mental illnesses in the country. </p>
								<p>But if you feel this often it might lead to disorders. Anxiety disorders form a category of mental health diagnoses that lead to excessive nervousness, fear, apprehension, and worry. </p>
							</div>
							<!-- .col-lg-4 end -->
							<div class="col-sm-12 col-md-12 col-lg-4">
								<p>Know the difference between normal anxiety and anxiety that needs medical attention. It’s important to understand that anxiety disorders can be treated, even in severe cases. </p>
								
								<p>Although, anxiety usually doesn’t go away, you can learn to manage it and live a happy, healthy life. Find out more about Anxiety on our page.</p>
							</div>
							<!-- .col-lg-4 end -->
						</div>
						<!-- .row end -->
					</div>
					<div role="tabpanel" class="tab-pane fade" id="Plaster">
						<div class="row">
							<div class="col-sm-12 col-md-12 col-lg-4">
								<div class="head">Depression is gradually becoming the most common mental illness in the world with the many number of people suffering from it, about 4% of the global population. </div>
							</div>
							<!-- .col-lg-4 end -->
							<div class="col-sm-12 col-md-12 col-lg-4">
								<p>Depression leads to loss of interest in daily activities and extreme symptoms lead to self-harm and suicidal tendencies</p>
								<p>Major depression is a treatable illness that affects the way a person thinks, feels, behaves, and functions . </p>
							</div>
							<!-- .col-lg-4 end -->
							<div class="col-sm-12 col-md-12 col-lg-4">
								<p>The earlier that treatment can begin, the more effective it is. More than just about of the blues, depression isn't a weakness and you can't simply "snap out" of it. </p>
								
								<p>Depression may require long-term treatment.<br>Diagnose today and seeking help is OK!</p>
							</div>
							<!-- .col-lg-4 end -->
						</div>
						<!-- .row end -->
					</div>
					<div role="tabpanel" class="tab-pane fade" id="Eye">
						<div class="row">
							<div class="col-sm-12 col-md-12 col-lg-4">
								<div class="head">Do you have difficulty to sleep? Are you awake in the middle of the night unable to get sufficient sleep? Then you’re at the right place. Talk to us and we can help you through it. </div>
							</div>
							<!-- .col-lg-4 end -->
							<div class="col-sm-12 col-md-12 col-lg-4">
								<p>Insomnia is a sleep disorder in which you have trouble falling and/or staying asleep. The condition can be short-term (acute) or can last a long time (chronic).</p>
								<p>It may also come and go. Acute insomnia lasts from 1 night to a few weeks. Insomnia is chronic when it happens at least 3 nights a week for 3 months or more. </p>
							</div>
							<!-- .col-lg-4 end -->
							<div class="col-sm-12 col-md-12 col-lg-4">
								<p>What causes Insomnia ? Stress, Travel or work schedule, Poor sleep habits, Eating too much in the late evening, Over consumption of Caffeine, nicotine and alcohol. </p>
								
								<p>. Insomnia  risk factors include Long-term diseases or conditions like blood pressure and heart diseases, Mental health issues like depression , anxiety disorder etc. </p>
							</div>
							<!-- .col-lg-4 end -->
						</div>
						<!-- .row end -->
					</div>
					<div role="tabpanel" class="tab-pane fade" id="Dislike">
						<div class="row">
							<div class="col-sm-12 col-md-12 col-lg-4">
								<div class="head">Anger is a basic human emotion. But when it gets out of control and turns destructive, it can lead to problems—problems at work, in your personal relationships, and in the overall quality of your life. </div>
							</div>
							<!-- .col-lg-4 end -->
							<div class="col-sm-12 col-md-12 col-lg-4">
								<p>And it can make you feel as though you're at the mercy of an unpredictable and powerful emotion</p>
								<p> You need to know how to control it and when it turns to be a disorder. Prolonged release of the stress hormones that accompany anger can destroy neurons in areas of the brain associated with judgment and short-term memory, and weaken the immune system. </p>
							</div>
							<!-- .col-lg-4 end -->
							<div class="col-sm-12 col-md-12 col-lg-4">
								<p>Letting anger issues go unaddressed can put your overall health at risk. </p>
								
								<p>Some physical symptoms of anger-related problems include Tingling, Heart palpitations or tightening of the chest, Increased blood pressure, Headaches, Pressure in the head or sinus cavities, Fatigue. You can always test yourself or talk to experts. Control the anger before it controls you.</p>
							</div>
							<!-- .col-lg-4 end -->
						</div>
						<!-- .row end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- .container end -->
</section>
<!-- #service3 end -->

<!-- About #4
============================================= -->
<section id="about4" class="about about-4 bg-gray">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-6">
				<!-- .row end -->
				<div class="row">
					<div class="col-sm-12 col-md-12 col-lg-12">
						<div class="heading heading-4 mb-30">
							<div class="subheading">We Are Fearless</div>
							<h2>We Are The Abhaya </h2>
							<p>Established in 2020, ABHAYA is a nonprofit, community-based organization helping troubled individuals address their problems.</p>
						</div>
					</div>
					<!-- .col-lg-12 end -->
				</div><!-- .row end  -->
				<div class="row">
					<!-- About Panel #1 -->
					<div class="col-sm-12 col-md-6 col-lg-6">
						<div class="about-panel">
							<div class="about-icon">
								<h6>Founders </h6>
							</div>
							<div class="about-content">
								<p><b>Yeshwini Ravi Kumar</b><br><b>Snigdha Reddy</b><br><b>Varsha Kesapragada</b><br>
						             </p>
								
							</div>
						</div>
					</div>
					<!-- .col-lg-6 end -->
					
					<!-- About Panel #2 -->
					<div class="col-sm-12 col-md-6 col-lg-6">
						<div class="about-panel">
							<div class="about-icon">
								<h6>Mission</h6>
							</div>
							<div class="about-content">
								<p>It is our mission to provide personal person-to-person education and support before problems become a crisis, using a personal reach out space, current technologies and community outreach.</p>
								
							</div>
						</div>
					</div>
					<!-- .col-lg-6 end -->
					
					<!-- About Panel #3 -->
					<div class="col-sm-12 col-md-6 col-lg-6">
						<div class="about-panel">
							<div class="about-icon">
								<h6>Values</h6>
							</div>
							<div class="about-content">
								<p>One of our values in Abhaya is "Just Breathe" because we love making things simple & intuitive.</p>
								
							</div>
						</div>
					</div>
					<!-- .col-lg-6 end -->
					
					<!-- About Panel #4 -->
					<div class="col-sm-12 col-md-6 col-lg-6">
						<div class="about-panel">
							<div class="about-icon">
								<h6>Results</h6>
							</div>
							<div class="about-content">
								<p>We thank each of our therapists and doctors that supported us; thanks to them we have grown and built .</p>
								
							</div>
						</div>
					</div>
					<!-- .col-lg-6 end -->
				</div>
				<!-- .row end -->
			</div>
			<!-- .col-lg-6 end -->
			<div class="col-sm-12 col-md-12 col-lg-6">
			<div  class="carousel owl-carousel carousel-navs" data-slide="1" data-slide-rs="1" data-autoplay="true" data-nav="true" data-dots="false" data-space="0" data-loop="true" data-speed="800">
					<!-- Image #1 -->
					<div class="about-img">
						<img src="{{ url_for('static', filename = 'images/shortcode/Yeshwini001.jpg') }}" alt="about image">
					</div>
					<!-- .about-img end -->
		
					<!-- Image #2 -->
					<div class="about-img">
						<img src="{{ url_for('static', filename = 'images/shortcode/Snigdha001.jpeg') }}" alt="about image">
					</div>
					<!-- .about-imgend -->
					
					<!-- Image #3 -->
					<div class="about-img">
						<img src="{{ url_for('static', filename = 'images/shortcode/Varsha001.jpeg') }}" alt="about image">
					</div>
					<!-- .about-img end -->
					
					<!-- Image #4 -->
					<div class="about-img">
						<img src="{{ url_for('static', filename = 'images/shortcode/Quote.jpg') }}" alt="about image">
					</div>
					<!-- .about-img end -->
					
				</div><!-- #clients end -->
			</div>
			<!-- .col-lg-6 end -->
		</div>
		<!-- .row end -->
	</div>
	<!-- .container end -->
</section>
<!-- #about4 end -->
<!-- Portfolio Creative
============================================= -->
<section id="about3" class="about about-1 about-3">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-8">
                        <div class="about-heading">
                            <div class="about-text">
                                <div class="about-subheadline">
                                    Learn about the founders
                                </div>
                                <div class="about-headline">
                                    <h3>Our Story</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-6">
                                    <div class="about-bio">
                                        ABHAYA was created in 2020 by a group of masters students who, through their personal work with multiple NGOs,realized that a more inclusive approach to mental health was needed.
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-6">
                                    <div class="about-content">
                                        <p>After extensive research and consultation, ABHAYA was born.<br>ABHAYA is based on the premise that when an individual has a problem, they often seek help from their peers.
                                            Many individuals think their own family can't possibly understand what's happening in their lives and that their friends might laugh or abandon them.
                                            ABHAYA provides a safe, confidential place to talk things out with another fellow whose been in a similar situation who can understand and will listen, but not judge.
                                        </p>
                                        <p>This simple act of listening can make a huge difference, sometimes a life-saving one.These individuals know they can trust ABHAYA - and they do.ABHAYA provides a safe space for such individuals to go ahead and be part of such more organisations and serve with love.<br></b></p>

                                    </div>
                                </div>
                            </div><!-- .row end -->

                        </div>
                    </div><!-- .col-lg-8 end -->
                    <div class="col-sm-12 col-md-12 col-lg-4">
                        <div class="about-img">
                            <img src="{{ url_for('static', filename = 'images/shortcode/Quote002.png') }}" alt="about image">
                        </div>

                    </div><!-- .col-lg-4 end -->
                </div><!-- .row end -->
            </div><!-- .container end -->
        </section>




<!-- #PortfolioCreative end -->
<!-- process #1
============================================-->
<!-- #clients2 end --><!-- Footer #1
============================================= -->
<footer id="footer" class="footer footer-8">
            <div class="footer-container">
                <!-- Info Widget
	============================================= -->
                <div class="footer-info-widget">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <div class="contact-info">
                                    <p>Email Us : AbhayaHelp@gmail.com</p>
                                    <p>Call Us : 002 01065370701</p>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <div class="copyright-info text-right">
                                    <p>&copy; 2020 Abhaya. All Rights Reserved</p>
                                    <p>With Love by <a href="">Abhaya.com</a></p>
                                </div>
                            </div>
                        </div><!-- .row end -->
                    </div><!-- .container end -->
                </div><!-- .footer-copyright end -->

            </div><!-- .footer-container end -->
        </footer>
 </div><!-- #wrapper end -->
<!-- Footer Scripts
============================================= -->

<script type="text/javascript">
	/* NOTE : Use web server to view HTML files as real-time update will not work if you directly open the HTML file in the browser. */
	(function(d, m){
	  var kommunicateSettings = {"appId":"396ba4c47204387afc170174981fe6cc3","popupWidget":true,"automaticChatOpenOnNavigation":true};
	  var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
	  s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
	  var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
	  window.kommunicate = m; m._globals = kommunicateSettings;
	})(document, window.kommunicate || {});
</script>
<script src="{{ url_for('static', filename = 'js/jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/plugins.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/functions.js') }}"></script>
<!-- RS5.0 Core JS Files -->
<script src="{{ url_for('static', filename = 'revolution/js/jquery.themepunch.tools.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'revolution/js/jquery.themepunch.revolution.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'revolution/js/extensions/revolution.extension.video.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'revolution/js/extensions/revolution.extension.slideanims.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'revolution/js/extensions/revolution.extension.actions.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'revolution/js/extensions/revolution.extension.layeranimation.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'revolution/js/extensions/revolution.extension.kenburn.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'revolution/js/extensions/revolution.extension.navigation.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'revolution/js/extensions/revolution.extension.migration.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'revolution/js/extensions/revolution.extension.parallax.min.js') }}"></script>
<!-- RS Configration JS Files -->
<script src="{{ url_for('static', filename = 'js/rsconfig.js') }}"></script>
</body>
</html>